<VirtualHost *:80>
   Define VH_NAME glide.3o3.it
   Define VH_HTML_PATH /var/www/virtuals/igc-complete
   
   ServerName ${VH_NAME}
   ServerAdmin admin@${VH_NAME}

   DocumentRoot ${VH_HTML_PATH}/frontend//build

   ErrorLog ${APACHE_LOG_DIR}/${VH_NAME}-error.log
   CustomLog ${APACHE_LOG_DIR}/${VH_NAME}-access.log combined

   WSGIDaemonProcess ${VH_NAME} python-path=${VH_HTML_PATH}/backend:${VH_HTML_PATH}/backend/virtual-python3/lib/python3.6/site-packages
   WSGIProcessGroup ${VH_NAME}
   WSGIScriptAlias /backend_igc ${VH_HTML_PATH}/backend/igc_complete/wsgi.py

</VirtualHost>

<Directory /var/www/virtuals/igc-complete>
   Options -Indexes
   <IfVersion < 2.4>
    Order allow,deny
    Allow from all
   </IfVersion>
   <IfVersion >= 2.4>
      Require all granted
   </IfVersion>
</Directory>

